/* .colorable:hover {
  fill: grey;
} */

.monster-part .cls-1 {
  fill: white;
}

.monster-part image {
  pointer-events: none;
}
.monster-part path {
  stroke: black;
  stroke-width: 2px;
}

.monster-part:hover .cls-1 {
  fill: hotpink;
}

.hide {
  opacity: 0;
  pointer-events: none;
}
