/* .colorable:hover {
  fill: grey;
} */

/* .monster-part {
  transition: opacity 0.2s;
} */

:root {
  --currentColor: hotpink;
}

#monster-complete .monster-part .cls-1 {
  transition: fill 0.2s;
  cursor: pointer;
}

#monster-complete .monster-part image {
  pointer-events: none;
}
#monster-complete .monster-part .subpart {
  stroke: black;
  stroke-width: 2px;
  cursor: pointer;
}

#monster-complete .monster-part .shadow {
  stroke: none;
}

#monster-complete .monster-part .subpart:hover path {
  fill: var(--currentColor);
}

.chest {
  filter: brightness(90%);
}

.shadow {
  filter: brightness(70%);
}

.skin {
  filter: brightness(80%);
}

.nails {
  filter: brightness(90%);
}

.hide {
  opacity: 0;
  pointer-events: none;
}
