/* .colorable:hover {
  fill: grey;
} */

/* .monster-part {
  transition: opacity 0.2s;
} */

#monster-complete .monster-part .cls-1 {
  fill: white;
  transition: fill 0.5s;
  cursor: pointer;
}

#monster-complete .monster-part image {
  pointer-events: none;
}
#monster-complete .monster-part path {
  stroke: black;
  stroke-width: 2px;
}

#monster-complete .monster-part:hover .cls-1 {
  fill: hotpink;
}

.chest {
  filter: brightness(90%);
}

.shadow {
  filter: brightness(70%);
}

.skin {
  filter: brightness(80%);
}

.nails {
  filter: brightness(90%);
}

.hide {
  opacity: 0;
  pointer-events: none;
}
