/*  importing fonts  */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

:root {
  --font-primary: "Fredoka One", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 15vh;
  background-color: #ee564b;
  color: #f0eada;
  font-family: var(--font-primary);
  font-size: 2.5em;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  background-color: #ffece3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw;
}

section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.screen-colors-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#screen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#monster-container {
  width: 60%;
  /* height: 70%; */
}

#colors-container {
  width: 85%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#colors-container [class^="color"] {
  width: 4.5vw;
  height: 4.5vw;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  background-color: chocolate;
  transition: transform 0.5s;
}

.color-btn:hover {
  transform: scale(1.1);
  border-radius: 50px;
}

.options-btn-wrapper {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#options-container {
  width: 100%;
  max-height: 80vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

div[id^="option"] {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-primary);
}

div[id^="option"] h2 {
  background-color: #fcc676;
  width: 100%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  font-size: 1em;
  border-radius: 3px;
}

div[id^="option"] + * {
  margin-top: 2rem;
}

.sub_options_container {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fcc67640;
  border-radius: 6px;
}

.btn-option {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  transition: box-shadow 0.2s;
  background-color: #002b5c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0 0px #ee564b;
}

.sprit-btn {
  width: 100%;
  height: min-content;
  pointer-events: none;
}

.btn-option.active {
  box-shadow: 0 0 0 10px #ee564b;
  background-color: #ee564b;
}

.btn-option:hover {
  box-shadow: 0 0 0 8px #ee564b;
  cursor: pointer;
  background-color: #ee564b;
}

.btn {
  font-family: var(--font-primary);
  font-size: 1.2em;
  text-transform: uppercase;
  color: #f0eada;
  padding: 0.5em 1em;
  background-color: #ee564b;
  border: solid 1px #ee564b;
  border-radius: 6px;
  cursor: pointer;
}
.btn:hover {
  color: #ee564b;
  background-color: #f0eada;
  border: solid 1px #ee564b;
}

.btn_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.sprit {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5;
  pointer-events: none;
  opacity: 0;
}

.animate-feature-in {
  /* TODO: Create animation for adding a feature */

  animation-name: feature-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.animate-feature-out {
  animation-name: feature-in;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
}

@keyframes feature-in {
  0% {
    transform-origin: top left;
    transform: translateX(var(--deltaX)) translateY(var(--deltaY)) scale(var(--deltaWidth), var(--deltaHeight));
    opacity: 0.8;
  }

  40% {
    transform-origin: center;
    transform: translateY(-10vw) scale(calc(var(--deltaWidth) * 2), calc(var(--deltaHeight) * 2));
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform-origin: top left;
    transform: translateX(0) translateY(var(--windowScroll)) scale(1);
    opacity: 1;
  }
}

.disapear {
  animation: disapearing 0.5s ease-in 1;
}

@keyframes disapearing {
  0% {
    transform-origin: center;
    transform: scale(1);
  }
  20% {
    transform-origin: center;
    transform: scale(1.2);
  }
  100% {
    transform-origin: center;
    transform: scale(0.1);
  }
}

#alert-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ee564b;
  padding: 2rem;
  border-radius: 6px;
}
